---
layout: default
title: blog
permalink: /blog/
---
<section>
  <h1>Articles</h1>
  <ul class="post-list">
    {% for post in site.posts %}
    <li>
      <a class="post-title" href="{{ post.url | relative_url }}">{{ post.title }}</a>
      <span class="post-date">{{ post.date | date: "%B %-d, %Y" }}</span>
      {% if post.excerpt %}<p class="post-excerpt">{{ post.excerpt | strip_html | truncatewords: 30 }}</p>{% endif %}
    </li>
    {% endfor %}
    {% if site.posts.size == 0 %}<li><p style="color:#888;font-style:italic;">No posts yet.</p></li>{% endif %}
  </ul>
</section>
